
p {
    margin: 0;
}
body {
    margin: 0;
}
.wap {
    width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: rgba(232, 228, 163, 0.334);
    padding: 5px;
}
.content1 {
    text-align: center;
    margin-bottom: 10px;
}
.name {
    color: red;
    margin: 5px 0;
    font-size: 18px;
}
.name_text {
    color: rgb(30, 30, 239);
    font-weight: 600;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.content2 {
    border: 2px solid rgb(232, 137, 137);
    border-radius: 10px;
    padding: 8px;
}
.content2_title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(7, 180, 56);
}
a {
    color: black;
    text-decoration: none;
}
.content3_wap {
    display: flex;
    align-items: center;
    border: 2px solid rgba(209, 43, 99, 0.625);
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
}
.content3_wap_right_title {
    color: rgb(13, 16, 189);
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.content3_wap_left {
    width: 80px;
    margin-right: 5px;
}
@media screen and (max-width: 390px)  {
    
}